/*
? ======================================= BELOW CODES ARE FOR LANDING PAGE =======================================================
*/

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@700&family=Roboto&family=Tillana&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.MainPage {
  background: #360369;
  width: 90vw;
  height: 90vh;
  top: 20px;
  margin: auto;
  position: relative;
}

h1 {
  color: #ffffff;
  font-size: 100px;
  position: absolute;
  top: 30%;
  left: 20%;
}

#button {
  background-color: #ffffff;
  color: #000000;
  font-weight: 100;
  /* font-size: 24px; */
  width: 331px;
  height: 33px;
  position: absolute;
  top: 60%;
  left: 35%;
}

/*
? ======================================= BELOW CODES ARE FOR VIEW PAGE ========================================================
*/
.MainPage2 {
  width: 90vw;
  height: 85vh;
  margin: auto;
  position: relative;
  background-color: #360369;
  color: #ffffff;
  transition: all 1s ease-in;
}

#MapBox {
  width: 85vw;
  height: 60vh;
  margin-left: 33px;
}

h2 {
  margin-top: 30px;
  margin-left: 30px;
}

#text2, #text3 {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
}

#latgap {
  padding: 10px 60px;
  background-color: #270846;
  margin-right: 15px;
  border-radius: 10px;
}

#longgap {
  padding: 10px 40px;
  background-color: #270846;
  border-radius: 10px;
}

.WeatherDetails {
  width: 90vw;
  height: 25vh;
  margin: auto;
}

#weatherdataText {
  color: #360369;
  margin-top: 15px;
  margin-left: 30px;
  font-size: 24px;
}

#box {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

#data{
 height: 7vh;
 width: 18vw;
 border-radius: 10px;
 background-color:#360369;
 color: #ffffff;
 margin-top: 20px;
 display: flex;
 align-items: center;
 padding-left: 10px;
}
/*
? ======================================= BELOW CODES ARE FOR footer ========================================================
*/
footer{
 display: flex;
 justify-content: center;
 margin-top: 28px;
}